@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: rebeccapurple;
}
.main{
	
	margin-top: 140px;
	border: 0px solid;
	height: 400px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.addtask{
	border: 25px solid black;
	border-radius: 10px;
	height: 410px;
	width: 410px;
	background-color:mediumpurple;
	font-size: 20px;
}
.addtask h1{
	text-align: center;
	color:lightgray;
	text-shadow: 2px 2px 0px black;
	font-size: 40px;
}
.addtask input{
	height: 30px;
	width: 390px;
	margin-left: 10px;
	border: 2px solid;
	background-color: orange;
	margin: 5px;
	font-size: 17px;
}
.addtask select{
	height: 30px;
	width: 390px;
	margin-left: 10px;
	border: 2px solid;
	background-color: orange;
	margin: 5px;
	font-size: 17px;
}