@charset "UTF-8";
*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: white;
}
.main{
	margin-top: 170px;
	border: 0px solid;
	height: 400px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login{
	border: 25px solid black;
	border-radius: 10px;
	height: 280px;
	width: 410px;
	background-color:lightgray;
	font-size: 20px;
}
.login h1{
	text-align: center;
	color:purple;
	text-shadow: 2px 2px 0px white;
	font-size: 40px;
}
.login input{
	height: 30px;
	width: 390px;
	margin-left: 10px;
	border: 2px solid;
	background-color: orange;
	margin: 5px;

}