@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: blue;
}
.main{

	margin-top: 170px;
	border: 0px solid;
	height: 400px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.register{
	border: 25px solid;
	border-radius: 10px;
	height: 320px;
	width: 410px;
	background-color: gray;
}
.register h1{
	text-align: center;
	color:gold;
	text-shadow: 2px 2px 0px black;
	font-size: 40px;
}
.register input{
	height: 30px;
	width: 390px;
	margin-left: 10px;
	border: 2px solid;
	background-color: orange;
}
.register input::placeholder{
	color: black;
	text-align: left;
	font-family: cursive;
}
